$aside-nav-width: 12vh;

.c-aside-nav {
	z-index: 1000;
	background: {
		image: url(../images/LOGO.png);
		size: 33%;
		position: center 3vh;
		repeat: no-repeat;
	}
	position: fixed;
	height: 100%;
	width: $aside-nav-width;
	background-color: #ffffff;
	box-shadow: 0px 0px 4vh 0.00px rgba(219, 219, 219, 0.5);
	& .fa {
		display: block;
		color: #d8d8d8;
		font-size: 3.1vh;
		text-align: center;
		padding: 3vh;
		transition: 
			color 0.15s 0s ease-in-out,
			text-shadow 0.15s 0s ease-in-out;
		&:hover {
			color: rgba(0, 35, 255, 0.76);
			text-shadow: 0px 0px 0.8vh rgba(0, 80, 255, 1);
		}
	}
	& .is-active {
		color: rgba(0, 35, 255, 1);
	}
}

.c-aside-nav .fa-home {
	margin-top: 16vh;
}

.c-aside-nav .fa-sign-in {
	position: absolute;
	bottom: 4vh;
	display: block;
	width: 100%;
	height: $aside-nav-width - 4vh;
	text-align: center;
	line-height: $aside-nav-width - 4vh;
	padding: 2vh 0;
	transform: rotateZ(90deg);
}