$menu-btn-size: 8vh;

$menu-block-width: 38vh;
$menu-overslide-dist: $menu-block-width * 0.1;
$menu-sliding-duration: 0.7s;

a {
	text-decoration: none;
}

.c-menu-btn, input[id='c-menu-btn'] {
	position: fixed;
	top: 3.5vw;
	right: 2.5vw;
	height: $menu-btn-size;
	width: $menu-btn-size;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 4vh 0.0px rgba(219, 219, 219, 0.5);
	z-index: 1;
	cursor: pointer;
}

.c-menu-btn--is-active {
//	display: none;
}

.c-menu-btn__indicator {
	$size: $menu-btn-size / 4;
	$center-pos: $size * 3 / 2;

	position: absolute;
	height: $size;
	width: $size;
	top: $center-pos;
	left: $center-pos;
	//	=== indicators ===
	div[class^="c-menu-btn__indicator--"] {
		position: relative;
		background-color: #0023ff;

		$menu-btn-ind-height: $menu-btn-size / 22 !global;
		height: $menu-btn-ind-height;
		border-radius: $menu-btn-size / 60;

		$menu-btn-ind-margin: ($size - ($menu-btn-ind-height * 3)) / 2.5 !global;
		margin-top: $menu-btn-ind-margin;
		&:first-child {
			margin-top: ($size - ($menu-btn-ind-margin * 2) - ($menu-btn-ind-height * 3)) / 2;
		}
	}
}


//===== BUTTON ANIMATION =====

.c-menu-btn__indicator--2 {
	transition: opacity 0s $menu-sliding-duration / 4;
}

input[id='c-menu-btn'] {
	&:checked ~ .c-menu-btn {
		.c-menu-btn__indicator--1 {
			top: $menu-btn-ind-height + $menu-btn-ind-margin;
			transform: rotateZ(45deg);
			animation: linear btn-anim--up $menu-sliding-duration / 2;
		}
		.c-menu-btn__indicator--2 {
			opacity: 0;
		}
		.c-menu-btn__indicator--3 {
			bottom: $menu-btn-ind-height + $menu-btn-ind-margin;
			transform: rotateZ(-45deg);
			animation: linear btn-anim--down $menu-sliding-duration / 2;
		}
	}
	&:not(:checked) ~ .c-menu-btn {
		.c-menu-btn__indicator--1 {
			animation: reverse linear btn-anim--up-b $menu-sliding-duration / 2;
		}
		.c-menu-btn__indicator--2 {
			opacity: 1;
		}
		.c-menu-btn__indicator--3 {
			animation: reverse linear btn-anim--down-b $menu-sliding-duration / 2;
		}
	}
}


@mixin btn-anim--up-props {
	0% {
		top: 0;
		transform: rotateZ(0deg)
	}
	50% {
		top: $menu-btn-ind-height + $menu-btn-ind-margin;
		transform: rotateZ(0deg);
	}
	100% {
		top: $menu-btn-ind-height + $menu-btn-ind-margin;
		transform: rotateZ(45deg);
	}
}
@mixin btn-anim--down-props {
	0% {
		bottom: 0;
		transform: rotateZ(0deg)
	}
	50% {
		bottom: $menu-btn-ind-height + $menu-btn-ind-margin;
		transform: rotateZ(0deg);
	}
	100% {
		bottom: $menu-btn-ind-height + $menu-btn-ind-margin;
		transform: rotateZ(-45deg);
	}
}


@keyframes btn-anim--up {
	@include btn-anim--up-props;
}
@keyframes btn-anim--down {
	@include btn-anim--down-props;
}

@keyframes btn-anim--up-b {
	@include btn-anim--up-props;
}
@keyframes btn-anim--down-b {
	@include btn-anim--down-props;
}
//===== END OF BUTTON ANIMATION =====


.c-menu-slider {
	position: fixed;
	left: 100%;
	height: 100%;
	z-index: 999;
}

.c-menu-slider__content {
	background-color: #fff;
	position: absolute;
	right: 0 - $menu-block-width - $menu-overslide-dist;
	width: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-right: $menu-overslide-dist;
	box-shadow: 0px 0px 4vh 0.0px rgba(219, 219, 219, 0.5);
}

//===== SLIDER ANIMATION =====

input[id='c-menu-btn'] {
	opacity: 0;
	&:checked ~ .c-menu-slider__content {
		width: $menu-block-width;
		right: 0 - $menu-overslide-dist;
		animation: menu-slide-in $menu-sliding-duration;
	}
	&:checked ~ .c-menu-btn--is-active {
		position: absolute;
		left: -100vw;
		width: 100vw;
		height: 100vh;
	}
	&:not(:checked) ~ .c-menu-slider__content {
		transition: width 0s $menu-sliding-duration;
		animation: menu-slide-out $menu-sliding-duration;
	}
}

@keyframes menu-slide-in {
	0%   {right: 0 - $menu-block-width - $menu-overslide-dist;}
	64%   {right: 0}
	68%   {right: 0 - ($menu-overslide-dist / 10)}
	100%   {right: 0 - $menu-overslide-dist}
}
@keyframes menu-slide-out {
	0%   {right: 0 - $menu-overslide-dist}
	75%   {right: 0 - $menu-block-width - $menu-overslide-dist;}
}
//===== END OF SLIDER ANIMATION =====


.c-menu-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin menu-items-img {
	display: inline-block;
	margin-left: 3vh;
	vertical-align: middle;
	content: "";

	$icon-size: 5.5vh;
	width: $icon-size;
	height: $icon-size;
	@content;
	background: {
		size: contain;
		repeat: no-repeat;
		position: center center;
	}
}

.c-menu-items li {
	width: 100%;
	//	margin-right: $menu-block-width * 0.2;
	font: {
		weight: 400;
		size: 2vh;
	}
	margin-top: 4vh;
	&:first-child {
		margin-top: 25vh;
		& a:after {
			@include menu-items-img {
				background-image: url(../images/ICON1.png);
			}
		}
	}
	&:nth-child(2) a:after {
		@include menu-items-img {
			background-image: url(../images/ICON2.png);
		}
	}
	&:nth-child(3) a:after {
		@include menu-items-img {
			background-image: url(../images/ICON3.png);
		}
	}
	&:nth-child(4) a:after {
		@include menu-items-img {
			background-image: url(../images/ICON4.png);
		}
	}
	&:nth-child(5) a:after {
		@include menu-items-img {
			background-image: url(../images/ICON5.png);
		}
	}
	& a {
		display: block;
		padding-right: $menu-block-width * 0.2;
		text-align: right;
		color: #c1c1c1;
		transition: 
			color 0.15s ease-in-out,
			text-shadow 0.15s ease-in-out;
		&:after {
			border-radius: 15%;
			transition: 
				background-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
		}
		&:hover {
			color: #0023ff;
			text-shadow: 0px 0px 0.8vh rgba(0, 80, 255, 1);
			&:after {
				background-color: rgba(0, 35, 255, 0.73);
				box-shadow: 0px 0px 1.5vh 0.5vh rgb(0, 80, 255);;
			}
		}
	}
}

.c-menu-btn-bottom {
	display: block;
	position: fixed;
	width: $menu-block-width * 0.93;
	bottom: 5vh;
	text-align: center;
	padding: 1.5vh;
	color: #0023ff;
	font: {
		size: 2vh;
		weight: 400;
	}
	transition: text-shadow 0.15s ease-in-out;
	&:hover {
		text-shadow: 0px 0px 0.8vh rgba(0, 80, 255, 1);
	}
}

.c-menu-btn-bottom-underline {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 30%;
	bottom: 0;
	border: none;
	width: 40%;
	height: 2px;
	background-color: #0023ff;
}