.body-products {
	overflow-x: hidden;
	background: #f0f0f0;
}

@mixin menu-items-img {
	display: inline-block;
	margin-left: 1.5vw;
	vertical-align: middle;
	content: "";

	$icon-size: 3.5vw;
	width: $icon-size;
	height: $icon-size;
	@content;
	background: {
		size: contain;
		repeat: no-repeat;
		position: center center;
	}
}

.breadcrumbs--living-room:after {
	@include menu-items-img {
		background-image: url(../images/ICON1.png);
	}
}

.catalog {
	width: 65vw;
	position: relative;
	left: -1vw;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.catalog__product {
	display: flex;
	justify-content: space-between;
	height: 18vw;
	border: 1vw solid #f0f0f0;
	padding: 1.5vw;
	box-sizing: border-box;
	background-color: #fff;
	& h2, p {
		margin: 0;
	}
	& h2 {
		font: {
			weight: 300;
			size: 1.5vw;
		}
	}
	& p {
		font: {
			weight: 300;
			size: 0.8vw;
		}
		margin-bottom: 1vw;
	}
	& .catalog__product__price {
		color: #0023ff;
		font: {
			weight: 700;
			size: 1.1vw;
		}
		margin: 0;
	}
}

.product-size-1 {
	flex-flow: column;
	justify-content: space-between;
	flex: 0 1 25%;
	& .img {
		overflow: hidden;
		height: 60%;
		& img {
			display: block;
			height: 100%;
			margin: 0 auto;
		}
	}
}

.product-size-2-3 {
	overflow: hidden;
	align-items: center;
	flex: 1 1 50%;
	display: flex;
	justify-content: space-around;
	& .img {
		display: flex;
		align-items: center;
		height: 100%;
		width: 55%;
		& img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.product-size-2-3__description {
	float: left;
}

.btn-products-bottom {
	display: block;
	margin: 1vw auto 0;
	width: 12vw;
	text-align: center;
	padding: 1vw;
	color: #0023ff;
	font: {
		size: 1vw;
	}
	transition: text-shadow 0.15s ease-in-out;
	&:hover {
		text-shadow: 0px 0px 0.3vw rgb(49, 114, 255);
	}
}

.catalog a {
	transition: box-shadow 0.2s;
}

.catalog a:hover {
	box-shadow: inset 0 0 1vw grey;
}