.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 7vh;
	& h1 {
		margin: 0;
		font-weight: 300;
		font-size: 4vw;
		line-height: 4vw;
	}
	& h2 {
		margin: 0;
		font-weight: 300;
		font-size: 2.6vw;
		line-height: 2.6vw;
	}
	margin-bottom: 6vh;
}

.breadcrumbs {
	color: #c1c1c1;
	font: {
		weight: 400;
		size: 1vw;
	}
}