.product {
	margin-left: $aside-nav-width;
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
	align-content: stretch;
	height: 100vh;
}

.product__view {
	width: 41%;
	height: 100%;
	background-color: #fff;
//	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 25px 0.00px rgba(219, 219, 219, 0.45);
	z-index: 1;
}

.product__view--wraper {
//	background-color: rgba(49, 255, 0, 0.49);
	width: 85%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& img {
		width: 100%;
	}
}

.product__view__likes p {
	margin: 0;
	float: right;
}

.heart {
	color: #ff547c;
}

.product__view__picture-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.picture-tools__left, .picture-tools__right {
	display: flex;
	justify-content: space-between;
	font-size: 1.4vw;
	a {
		color: #0023ff;
	}
}

.picture-tools__left {
	width: 4vw;	
}

.picture-tools__right {
	//	display: flex;
	width: 5.5vw;
}

.product__description {
	padding-left: 5vw;
	box-sizing: border-box;
	overflow: hidden;
	width: 59%;
	flex: 0 1 73%;
//	background-color: skyblue;
	display: flex;
	flex-direction: column;
}

.product__description__header {
//	background-color: rgba(255, 255, 255, 0.51);
	padding-bottom: 3vh;
	padding-right: 18.5vw;
	margin-bottom: 0;
}

.product__description__content-space {
//	background-color: rgba(0, 255, 128, 0.52);
	height: 100%;
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product__description__content {
	h1 {
		font: {
			size: 3.1vw;
			weight: 300;
		}
		span[class='name'] {
			color: #0023ff;
		}
	}
	& > p {
		font: {
			size: 1.1vw;
			weight: 300;
		}
		line-height: 2vw;
		margin-top: 2vw;
	}
}

.content__price-tools {
	margin-top: 3vw;
	display: flex;
	justify-content: space-between;
	padding-right: 18.5vw;
}

.content__price-tools__price {
	display: flex;
//	align-items: center;
	.price {
		margin: 0;
		color: #0023ff;
		font: {
			weight: 700;
			size: 2vw;
		}
		&:before {
			content: 'COST';
			display: block;
			color: #000;
			font: {
				weight: 300;
				size: 0.7vw;
			}
		}
	}
	.old-price {
		padding-left: 0.6vw;
		color: #000;
		font: {
			weight: 700;
			size: 1vw;
		}
		line-height: 2.2vw;
		text-decoration: line-through;
	}
}

// !!! инпуты плавают друг относительно друга, а должны быть по центру !!! //
.content__price-tools__tools {
//	background-color: rgba(255, 167, 0, 0.5);
	display: flex;
	align-items: center;
	
	$input-height: 2.5vw;
	input[type="number"] {
//		align-self: center;
		// !!! как переделать кнопки инкриментов?? !!! //
		display: inline-block;
		width: 3.7vw;
		height: $input-height;
		font: {
			weight: 300;
			size: 1.3vw;
		}
		text-align: center;
		text-indent: 0.2vw;
		border: none;
		border-radius: $input-height / 2;
		padding: 0;
		
		// !!! не отображается !!! //
		&:before {
			content: 'QUANTITY';
			color: #000;
			font: {
				weight: 300;
				size: 0.7vw;
			}
		}
	}
	input[type="submit"] {
//		align-self: center;
		display: inline-block;
		float: right;
		margin-left: $input-height;
		padding: 0;
		padding-right: $input-height * 0.7;
		padding-left:  $input-height * 0.7;
		height: $input-height;
		border: none;
	}
}


.product__recomended-gallary {
	flex: 0 1 27%;
	background-color: #fff;
//	background-color: maroon;
	display: flex;
	
	box-shadow: 0px 0px 25px 0.00px rgba(219, 219, 219, 0.25);
}

.product__recomended-gallary__recomended {
//	background-color: rgba(255, 255, 255, 0.5);
	width: 5vw;
	p {
		margin: 0;
		margin-top: 3.6vw;
//		color: rgba(0, 0, 0, 0.2);
		font: {
			weight: 300;
			size: 1.4vw;
		}
		line-height: 1em;
		// !!! как его, нна, спозиционировать, нна?? !!! //
		transform: rotate(-90deg);
		position: relative;
		right: -40%;
		text-indent: -100%;
	}
}

.product__recomended-gallary__items-space {
//	background-color: rgba(255, 206, 0, 0.51);
	flex: 1 1;
	display: flex;
	justify-content: center;
}

.product__recomended-gallary__items {
//	background-color: rgba(255, 0, 177, 0.51);
	width: 41vw;
//	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product__recomended-gallary__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 8.5vw;
//	margin-top: 4vh;
	height: 19vh;
	.img {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 75%;
		img {
			height: 100%;
//			width: 100%;
		}
	}
}

.product__recomended__description {
	h3 {
		margin: 0;
		font: {
			weight: 300;
			size: 2vh;
		}
	}
	p {
		margin: 0;
		font: {
			weight: 300;
			size: 1.2vh;
		}
	}
}