.body-search {
	width: 100vw;
	height: 100vh;
	background-color: #f0f0f0;
	overflow-x: hidden;
	
	background: {
		image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/bg-main.png);
		size: cover;
		position: center bottom;
		repeat: no-repeat;
		attachment: fixed;
	}
}

// !!! поисковый инпут перекрывает слайдер !!!
.search__form {
	position: relative;
	& input[type='search'] {
		width: 100%;
		margin-top: 15vh;
		font: {
			size: 10vh;
			weight: 100;
		}
		line-height: 1.5em;
		text-transform: uppercase;
		background: none;
		border: none;
		border-bottom: 1px solid gray;
		margin-bottom: 20px;
		&:focus {
			outline: none;
		}
		margin-bottom: 2.5vh;
	}
	& input[type='reset'] {
		display: none;
	}
	& input[type='submit'] {
		display: none;
	}
}

.search__reset {
	position: absolute;
	top: 15vh + 6vh;
	right: 0;
	display: block;
	width: 5vh;
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
	font: {
		weight: 100;
		size: 3vh;
	}
	border-radius: 100%;
	transition: 
		box-shadow 0.15s,
		color 0.15s,
		font-size 0.15s;
	&:hover {
		box-shadow: inset 0px 0vh 1.2vh 0.00px lightgray;
		color: #676767;
		font-size: 2.8vh;
	}
}

.search-hint {
	margin-top: 0;
	margin-bottom: 10vh;
	color: rgba(0, 0, 0, 0.3);
	font: {
		weight: 300;
		size: 2.5vh;
	}
}

.search-results {
	display: flex;
	flex-flow: row wrap;
	& a {
		flex: 0 1 45%;
		display: flex;
		align-items: center;
		overflow: hidden;
		&:hover h2 {
			text-shadow: 0px 0px 0.3vw rgba(0, 0, 0, 1);
		}
	}
	& img {
		float: left;
		width: 8vw;
//		width: 15vh;
	}
	& h2 {
		margin: 0;
		padding-left: 1vw;
		font: {
			weight: 300;
			size: 3vw;
		}
		transition: text-shadow 0.2s;
	}
}

.search-report {
	margin-top: 6vw;
	margin-bottom: 10vh;
	font: {
		weight: 700;
		size: 2vh;
	}
}
