//@import url(../../fonts/font-awesome/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300italic,300,100);

@import url(../css/normalize.css), 'aside-nav', 'menu', 'search', 'product-header', 'products', 'product';

html {
	font-family: Lato, Tahoma, Arial;
}

a {
	text-decoration: none;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #f0f0f0;
}

.wraper {
	position: relative;
	width: 63vw;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	background: {
		image: url(../images/NEWEST.png), url(../images/bg-main.png);
		size: 73%, cover;
		position: center 14%, center bottom;
		repeat: no-repeat;
	}
}

.main__content {
	margin: 0 auto;
	text-align: center;
	& h1 {
		margin: 0;
		padding-top: 12vh;
		font: {
			size: 11vw;
			weight: 100;
		}
	}
	& p {
		margin-top: 1vh;
		font: {
			size: 1.7vw;
			font-weight: 300;
		}
		margin-bottom: 2vw;
	}
}

.btn {
	display: block;
	margin: 0 auto;
	
	$btn-font-size: 1vw;
	color: #ffffff;
	font: {
		size: $btn-font-size;
		weight: 900;
	}
	background-color: #0023ff;
	padding: $btn-font-size $btn-font-size * 3;
	border-radius: $btn-font-size * 1.5;
	&:hover {
		background-color: rgba(17, 50, 255, 0.9);
		box-shadow: 0 0 $btn-font-size / 2 #6f6f6f;
	}
	transition: 
		background-color 0.15s ease,
		box-shadow 0.15s ease-in-out;
}

.btn-main {
	width: 7vw;
}

$bg-tabs-width: 150px;

.bg-tabs {
	position: absolute;
	right: 9vw;
	bottom: 6vh;
	float: right;
}

.bg-tabs__submit {
	display: none;
}

input[id^='bg-tabs__tab-'] {
	display: none;
	&:checked + label {
		background-color: #0023ff;
	}
}

label[class^='bg-tabs__tab-'] {
	display: inline-block;
	$bg-tab-size: $bg-tabs-width / 15;
	width: $bg-tab-size;
	height: $bg-tab-size;
	box-shadow: inset 0 0 ($bg-tab-size / 8) #6f6f6f;
	border-radius: 100%;
	margin-left: $bg-tabs-width / 4 ;
	transition: background-color 0.5s;
}












